<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>home</title>
</head>
<body>
<div>
    <p>get number of buildings build after year</p>
    <form action="/year">
        <label for="year">year</label><br>
        <input type="number" id="year" name="year" value="2020"><br>
        <input type="submit" value="Submit">
    </form>
</div>
<hr>
<div>
    <p>get announcement by city name</p>
    <form action="/city">
        <label for="city">city</label><br>
        <input type="text" id="city" name="city" value="parlier"><br>
        <input type="submit" value="Submit">
    </form>
</div>
</body>
</html>

<script>

</script>